<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.rst.farmacovigilanza">

    <application
        android:name=".FarmacoVigilanzaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/app_theme">
        <activity android:name=".views.BootstrapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LoginActivity"
            android:label="@string/activity_login_title"></activity>
        <activity android:name=".views.MainDoctorActivity"
            android:label="@string/activity_main_doctor_title"></activity>
        <activity android:name=".views.AddEditReportActivity"
            android:label="@string/activity_add_edit_reports_title"></activity>
        <activity android:name=".views.AddEditPatientActivity"
            android:label="@string/activity_add_edit_patients_title"></activity>
        <activity android:name=".views.AddEditFactorsActivity"
            android:label="@string/activity_add_edit_factors_title"></activity>
        <activity android:name=".views.ReportsChronologyActivity"
            android:label="@string/activity_reports_chronology"></activity>

    </application>

</manifest>